<style>
.example-container{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-container2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-container3{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>


<div class="Forms">


<div class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Enter email *</mat-label>
    <input  id ="emailAdress" matInput [formControl]="email" type="email" placeholder="pat@example.com">
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
 
<form>
  <mat-form-field class = "example-container2" appearance="outline">
    <mat-label>Password</mat-label>
  <input matInput name="password" type= "password" [formControl]="passFormControl" 
   required (blur)="checkPasswordControls()">
   <mat-error>Passwords dont match or password is too short</mat-error> 
  </mat-form-field>

  <p></p>
  
  <mat-form-field class ="example-container3" appearance="outline">
    <mat-label>Confirm password</mat-label>
  <input matInput name="password" type= "password" placeholder="Confirm password" [formControl]="confirmFormControl" 
  required (blur)="checkPasswordControls()">
  <mat-error>Passwords dont match or password is too short</mat-error> 
</mat-form-field>
</form>
</div>


<div class="Buttons">
<button  mat-raised-button color="primary">aaaaa</button>
</div>





  


  
  









  